**.swp
**/.tern-port
**/it/resources/logback-test.xml
*.crx
*.iws
*.log
*.pyc
*.zip
.DS_Store
.bloop/
.bsp/
.cache
.classpath
.editorconfig
.ensime
.ensime_cache/
.gradle
.history
.idea
.idea_modules
.jettyjvmopts
.jvmopts
.lib/
.metadata
.metals/
.project
.psa-stash*
.psc-ide-port
.psci_modules
.sass-cache
.scala_dependencies
.settings
.spago/
.target
.vscode/
Thumbs.db
intellij-build
lib_managed
licensing.info
log4j.xml
logs/
node_modules
out
output
package-lock.json
project/.bloop/
project/boot
project/**/metals.sbt
rebel.xml
run-jdash-web.sh
tags
target/
tmp/
version.txt
